<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Event Managemet-About</title>
<!--
Holiday Template
http://www.templatemo.com/tm-475-holiday
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">  
  <link href="css/flexslider.css" rel="stylesheet">
  <link href="css/templatemo-style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="tm-gray-bg">
  	<!-- Header -->
  	<div class="tm-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
  					<a href="/" class="tm-site-name">Event Managenet</a>	
  				</div>
	  			<div class="col-lg-6 col-md-8 col-sm-9">
	  				<div class="mobile-menu-icon">
		              <i class="fa fa-bars"></i>
		            </div>
	  				<nav class="tm-nav">
						<ul>
							<li><a href="/home">Home</a></li>
							<li><a href="/about" class="active">About</a></li>
							<li><a href="/tours">Our Events</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="/">Logout</a></li>
						</ul>
					</nav>		
	  			</div>				
  			</div>
  		</div>	  	
  	</div>
	
	<!-- Banner -->
	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title"><span class="tm-yellow-text">Event</span>Management</h1>
					<p class="tm-banner-subtitle">For Your Events</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="img/banner-3.jpg" />
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">A <span class="tm-yellow-text">Best</span> platform</h1>
					<p class="tm-banner-subtitle">For Wonderful Events</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="img/banner-2.jpg" />
		    </li>
		    <li>
			    <div class="tm-banner-inner">
					<h1 class="tm-banner-title">Events <span class="tm-yellow-text">happend</span> In India</h1>
					<p class="tm-banner-subtitle">Adventures</p>
					<a href="#more" class="tm-banner-link">Learn More</a>	
				</div>
		      <img src="img/banner-1.jpg" />
		    </li>
		  </ul>
		</div>		
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<div class="flexslider flexslider-about effect2">
			  <ul class="slides">
			    <li>
			      <img src="img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Welcome To Event Managenet</h2>
			      	<h3 class="slider-subtitle">A perfect stop for your Event search</h3>
			      	<p class="slider-description">Event Management is a popular form of happening events</p>
			      		<a href="https://www.twitter.com/" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="https://www.facebook.com/" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="https://www.pintrest.com/" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="https://www.google-plus.com/" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Thank you for choosing us!</h2>
			      	<h3 class="slider-subtitle">We absolutely loved the entire experience we had at your home.</h3>
			      	<p class="slider-description">Thank you so much for having our family in your home. We haven't been able to stop talking about the comfortable beds, delicious meals, and delightful conversation. We look forward to seeing all of you again. Maybe you can stay with us next time you come to Idaho.</p>
			      	<div class="slider-social">
			      		<a href="https://www.twitter.com/" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="https://www.facebook.com/" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="https://www.pintrest.com/" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="https://www.google-plus.com/" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">More Programs to come</h2>
			      	<h3 class="slider-subtitle">Breakthroughs happen when people attend to their professional curiosities and set aside time for deliberate learning.</h3>
			      	<p class="slider-description">No matter how much it may feel that way, ideas don't come out of nowhere. You need raw material first. Consume content that generates ideas. Both the quantity and the quality of the content you consume matters Don't look in the same places everyone else is — you need to discover what they're missing.</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			    <li>
			      <img src="img/about-1.jpg" alt="image" />
			      <div class="flex-caption">
			      	<h2 class="slider-title">Events</h2>
			      	<h3 class="slider-subtitle">Choose your way to experience the homely nature in different places with different cultures which you may not seen.</h3>
			      	<p class="slider-description">Travel means a way of journey which is very important for us in our day to day life.We travel to different places according to our need whether it may be a business trip or it may be a family vacation.Whether it may be a new place or it may be a place which is visited often.We offer our service in order to provide you make your journey a memorable event.The travelling journey may be same as usual but the staying is unusual which you may not experienced.We provide the unusual comfortable space right in front of you to choose your stay.</p>
			      	<div class="slider-social">
			      		<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
			      		<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
			      	</div>
			      </div>			      
			    </li>
			  </ul>
			</div>
		</div>
	
		<div class="section-margin-top about-section">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Who We Are</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">vamsi <span>( Founder )</span></h3>
						<p class="margin-bottom-15 gray-text">Generated an idea where homestay service can be implemented more in India as India has its unique culture.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="https://www.facebook.com/profile.php?id=100015918977294" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Sai ram <span>( Co-Founder )</span></h3>
						<p class="margin-bottom-15 gray-text">Tech guy who molded our Idea into the product which you are seeing and utilizing right now.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="https://www.facebook.com/manognaram.barnala.9/" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="tm-about-box-1">
						<a href="#"><img src="img/yaswanth1.jpg" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Yaswanth <span>( General Manager )</span></h3>
						<p class="margin-bottom-15 gray-text">Extended the idea by adding modules and features inorder to take it into user friendly level.</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				
			</div>		
		</div>
	</section>		
	
	<!-- white bg -->
	<section class="tm-white-bg section-padding-bottom">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-top">
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-4 col-md-6 col-sm-6"><h2 class="tm-section-title">What we do</h2></div>
					<div class="col-lg-4 col-md-3 col-sm-3"><hr></div>	
				</div>				
			</div>
			<div class="row">
				<!-- Testimonial -->
				<div class="col-lg-12">
					<div class="tm-what-we-do-right">
						<div class="tm-about-box-2 margin-bottom-30">
							<img src="img/about-2.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title">Creating job opportunities for several village people</h3>
				                <p class="tm-about-box-2-description gray-text">I as an integral part of the EventManagement team,coordinating medical appointments,offering one-on-one and group support to students and Events families in the areas of health and wellness and cultural adjustment.</p>
				                <p class="tm-about-box-2-footer">Rajesh</p>	
							</div>		                
						</div>
						<div class="tm-about-box-2">
							<img src="img/about-3.jpg" alt="image" class="tm-about-box-2-img">
							<div class="tm-about-box-2-text">
								<h3 class="tm-about-box-2-title"> visit our websites and explore & get in touch with them to explore the new world which they haven't seen yet.</h3>
				                <p class="tm-about-box-2-description gray-text">We provide an environment to tourists where those who don't want to check in hotels or those who want to enjoy the Indian culture and get to know some facts of our culture and food habits and festivals those who love to mingle with people a lot want to explore new places.</p>
				                <p class="tm-about-box-2-footer">Ajay</p>	
							</div>		                
						</div>
					</div>
					<div class="tm-testimonials-box">
						<h3 class="tm-testimonials-title">Testimonials</h3>
						<div class="tm-testimonials-content">
							<div class="tm-testimonial">
								<p>"From a warm greeting on arrival to spacious comfortable rooms,excellent meals.we are leaving India with a very warm feeling."</p>
		                		<strong class="text-uppercase">Prudhvi</strong>	
							</div>
							<div class="tm-testimonial">
								<p>"Only superlatives can describe our stay at Gitanjali-the warmest of welcomes & hospitality,the most beautiful and serene setting and the wonderful home cooking!."</p>
			                	<strong class="text-uppercase">Uma Devi</strong>		
							</div>
	       					<div class="tm-testimonial">
	       						<p>"our stay place was highlight of our 15 day road trip.These are unforgettable."<p>
	                			<strong class="text-uppercase">Rakesh</strong>
	       					</div>                	
						</div>
					</div>	
				</div>							
			</div>			
		</div>
	</section>
	<footer class="tm-black-bg">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; 2084 Event Mangement 
                
                | Designed by SDP-4 Team</p>
			</div>
		</div>		
	</footer>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
  	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
  	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});		  	
		});
		$(window).load(function(){
			// Flexsliders
		  	$('.flexslider.flexslider-banner').flexslider({
			    controlNav: false
		    });
		  	$('.flexslider').flexslider({
		    	animation: "slide",
		    	directionNav: false,
		    	slideshow: false
		  	});
		});
	</script>
 </body>
 </html>
